



/* var randomColor = Math.floor(Math.random()*16777215).toString(16); */


.comment-box{
    margin: 20px 8px 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 1px #888888;
    align-items: center;
    /* width: 100%; */
}


.comment-body{
    font-size: 18px;
    padding-right: 32px;
}


.comment-username{
    font-size: 18px;
    font-weight: bold;
}


.comment-top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2%;
}

.comment-bottom-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.icon-comment-delete{
    cursor: pointer;
}

.icon-comment-delete:hover{
    color: #0970D0;
}