



/* var randomColor = Math.floor(Math.random()*16777215).toString(16); */


.comment-box{
    margin: 20px 0px 10px;
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 5px 5px 1px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.comment-body{
    font-size: 18px;
    padding-right: 32px;
}


.comment-username{
    font-size: 18px;
    font-weight: bold;
}



.comment-entry{
    display: flex;
    align-items: center;
    justify-content: space-between;
}