

/* POST_FORM */

.uploading-picture-form1{
    display: flex;
    justify-content: space-between;
}


.uploading-picture-form1-left{
    border-right: 1px solid gray;
    flex-grow: 1;
    background-color: rgb(247, 248, 250);
    display: flex;
}

.uploading-picture-form1-left-preview{
    margin-top: 20px;
    margin-left: 20px;
}

.preview-photo{
    width: 250px;
    height: auto;
}

.uploading-picture-form1-left-upload{
    margin-left: 15px;
    margin-top: 20px;
    border: 2px solid #B9C1C7;
    font-weight: bold;
    text-align: center;
    width: 245px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fake-upload-form-btn-2{
    padding: 106px 64px;
}


.uploading-picture-form1-right {
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    padding: 5px;
    height:100%;
    margin-left: 1em;
}

.uploading-picture-form1-right button{
    background-color: #41CB56;
    border: 1px solid #41CB56;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 17px;
}




.uploading-picture-title{
    width: 300px;
}

.uploading-picture-description{
    width: 300px;
}


.upload-form-btn {
    display: none;
    padding: 5px;
}

.fake-upload-form-btn-1 {
    font-size: 16px;
    border: solid 1px;
    color: white;
    background-color: #0099E5;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 3px;
    border: solid 1px #0099E5;
}

.fake-upload-form-btn-1:hover {
    background-color: #2FAAFA;
    border: solid 1px #2FAAFA;
}


.uploading-picture-form2{
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.preview-photo{

}


/*  MODAL */



.upload-form-container-none {
    display: none;
}


.uploading-picture-form1, .uploading-picture-form2 {
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 100px;
    left: 100px;
    z-index: 2;
    background-color: white;
    border-radius: 3px;
    position: fixed;
}

body.modal-open {
   overflow: hidden;
   position: fixed;
}


/* PostIndexItem */

/* .photos {
    width: 1000px;
    height: auto;
} */
.photos {
    width: 100%;
    max-width: 500px;
    height: auto;
    cursor: pointer;
}


.list-of-photos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-of-photos-left ul{
    margin-right: 65px;
    margin-left: 30px;
    padding: 0px;
}

.list-of-photos-right ul{
    padding: 0px;
    margin-right: 65px;
}



.PostIndexItem-photo-attributes{
    display: flex;
    margin-bottom: 16px;
}


.PostIndexItem-photo-title{
    margin-right: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 24px;
    font: bold;
}

.PostIndexItem-photo-username{
    margin-bottom: 20px;
}

/* 
.list-of-photos-left ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
} */







/* temporary css for fun */

/* for the splash */

/* 
.photos:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
} */


.girlpeace{
    transition: .35s ease-in;
}
.girlpeace:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: right;
    /* -moz-transform: scale(1.8); */
    /* -webkit-transform: scale(1.3); */
}


.girlpeace-walk-away{
    transition: .35s ease-in;
}
.girlpeace-walk-away:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: right;
    /* -webkit-transform: scale(1.3); */
}


.butterflies{
    transition: .35s ease-in;
}
.butterflies1:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: right;
}


.baby-leaves{
    transition: .35s ease-in;
}
.baby-leaves:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: right;
}


.girl1{
    transition: .35s ease-in;
}
.girl1:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: left;
}


.hill-of-korea{
    transition: .35s ease-in;
}
.hill-of-korea:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: left;
}


.cherry-blossom-tree{
    transition: .35s ease-in;
}
.cherry-blossom-tree:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: left;
}


.girl-smiling{
    transition: .35s ease-in;
}
.girl-smiling:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
    cursor: pointer;
    transform-origin: left;
}



.header-group{
    background-color: white;
}

.profile-layout{
    background-color: white;
}


/* Profile */

.profile-sub-categories{
    display: flex;
    justify-content: center;
    border-top: 1px solid #eeeff2;
    border-bottom: 1px solid #eeeff2;
    background-color: white;
    height: 50px;
}

.profile-sub-categories div{
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #71767a;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-sub-categories div:active{
    color: #0699E5;
    border-bottom: 2px solid #0099e5;
}


.profile-user-detail{
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.profile-user-detail-icon .icon{
    color: #BAC0C5;
    height: 100px;
    width: 100px;
}

.profile-user-detail-username{
    color: #525558;
    font-size: 30px;
    margin-bottom: 10px;
}

.profile-user-detail-sub{
    display: flex;
    justify-content: center;
}

.profile-user-detail-sub div{
    margin: 0 10px;
    color: #b9c1c7;
    font-size: 14px;
}

.profile-user-detail-cover-photo{
    height: 130px;
    border-bottom: 1px solid #eeeff2;
    margin-bottom: -57px;
}