.login-form-container {
    /* border: 1px solid #ccc; */
    border: 1px solid #eeeff2;
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    /* max-height: 530px; */
    height: 530px;

    background-color: #fff;
    color: #71767a;
    box-sizing: border-box;
}


.login-Pixel800 {
    text-align: center;
    margin-bottom: 2.5em;
} 


.login-Pixel800 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px; 
}



input{
    width: 100%;
    margin: 6px 0px 17px 0px;
    border: 1px solid rgba(185,193,199,0.5);
    border-radius: 3px;
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 300;
    padding: 8px 10px;
    box-sizing: border-box;
}

label{
    font-size: 14px;
    color: #71767a;

}
/* .form-links {
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 */

.session-submit {
    background-color: #34bf49;
    /* border: 2px solid #34bf49; */
    color: white;
    /* padding: 14px 8px; */
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4em;
}



.no-account{
    display: flex;
    color: #71767a;
    justify-content: center;
    font-size: 12px;
    line-height: 1.5;
    margin: 24px 0 0;
}

.no-account a{
    color: #0099e5;
}





.login-nav-bar-left{
    display: flex;
    
}


.nav-logo a{
    margin-left: 8px;
    margin-right: 8px;
    color: black;
}

.nav-logo:hover a{
    color: #0099e5;
}

.nav-discover-logo{
    margin-right: 8px;
    color: #71767a;
}
.nav-discover-logo:hover{
    color: #0099e5;
}

.nav-about-logo{
    margin-right: 8px;
    color: #71767a;
}
.nav-about-logo:hover{
    color: #0099e5;
}

.nav-studio-logo{
    margin-right: 8px;
    color: #71767a;
}
.nav-studio-logo:hover{
    color: #0099e5;
}



.login-page{
    min-width:710px;
}
.login-flex{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 248, 250);
 } 