.hero{
    background: center url(https://assetcdn.500px.org/assets/static_pages/home/cover_bg-121d68d0f30118182be4f9ada6c2c502.jpg);
    background-size: cover;
    height: 80vh;
    position:relative;
}

.hero-overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.25);
}

.hero-description{
    color:white;
    width:100%;
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    text-align: center;
}

.splash-nav-bar{
    position: absolute;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
    color:white;
    width:100%;

}


.splash-nav-bar .nav-logo>a{
    color:white;
}

.login-nav-bar-left div{
    padding-right: 30px;
}


.login-nav-bar-left{
    padding-left: 40px
}


.description-top{
    font-size: 40px;
    font-weight: 400;
    padding: 40px 0px;
}


.description-bottom{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}



.description-btn a{
    background-color: #00aaff;
    color: white;
    display: inline;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 100px;
}





.login-nav-bar-right{
    display: flex;
    padding-right: 50px;
}


.splash-signup a {          
    margin-left: 30px;
    background-color: #00aaff;
    color: white;
    display: inline;
    padding: 6px 10px;
    align-content: center;
    border-radius: 100px;
}
    

.splash-login a {
    color: white;
}




.nav-logo:hover a{
    color: #B3B7B8;
}





.middle-empty-space{
    padding: 40px;
}


.hero-bottom-half{
    height: 80vh;
    justify-content: center;
    width:100%;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}


.mid-splash-description-top{
    font-size: 36px;
    font-weight: normal;
    color: #525558;
    margin: 32px 0px 20px 0px;
}


.mid-splash-description-bottom{
    font-size: 18px;
    color: #525558;
    margin: 0 auto 40px auto;
}